@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@400;700&family=Roboto:wght@100;300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');

:root{
    --prime-color: #001C3B;
    --dark-blue: #0a2646;
    --lightgreen: #83ffdc;
    --second-light-green: #46ff90;
    --blue: #005076;
    --second-blue: #0186B3;
    --third-blue: #266CAA;
    --color1: #009637;
    --color2: #3CC86F;
    --color3: #4987C7;
    --white: #FFFFFF;
    --lightgray: #e3e3e3;
    --mobile: 360px;
    --min-height: 580px;
}

html{
    scroll-behavior: smooth;
}


::-webkit-scrollbar{
    background: var(--blue);
    width: 10px;
}
::-webkit-scrollbar-track{
    
}
::-webkit-scrollbar-thumb{
    background: var(--lightgreen);
}
::-webkit-scrollbar-thumb:hover{
    background: var(--second-light-green);
}





*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: .3s linear;
    box-sizing: border-box;
}


body{
    position: relative;
    min-width: var(--mobile);
    min-height: var(--min-height);
}

/* HEADER */
header{
    position: absolute;
    top: 0; left: 0; right: 0;

    z-index: 1001;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #001b3b8f, #00517693);
    padding: 0 7%;
}
header .logo-container img{
    display: flex;
    height: 60px;
}




span.destaque{
    color: var(--lightgreen);
}
p.paragraph span.destaque{
    font-weight: 700;
}






/* NAVBAR */
.navbar{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 70px;
    gap: 1rem;
}
.navbar a{
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 1.3rem;
    border-bottom: 3px solid transparent;
}
.navbar a:hover{
    color: var(--second-light-green);
    border-bottom: 3px solid var(--second-light-green);
}
.navbar .close-btn{
    display: none;
}
header .mobile-btn{
    display: none;
}


.login{
    color: var(--prime-color);
    background: var(--second-light-green);
    padding: .5rem;
    border-radius: 7px;
    border: 2px solid transparent;
}
.login:hover{
    border: 2px solid var(--lightgreen);
    background: transparent;
    color: var(--lightgreen);
}





/* MAIN CONTAINER */
/*CSS HERE*/



/* SCROLL DOWN BUTTON */
#scroll-down{
    position: absolute;
    bottom: 1rem; left: 50%;
    transform: translateX(-50%);
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    color: var(--lightgreen);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--lightgreen);
    font-size: 2rem;
}
#scroll-down:hover{
    color: var(--second-light-green);
    border: 2px solid var(--second-light-green);
}


/* INTRODUCTION SECTION */

section.introduction{
    position: relative;
    min-height: var(--min-height);
}
section.introduction .box{
    position: absolute;
    top: 55%;
    z-index: 1000;

    transform: translateY(-50%);
    width: 60%;

    margin: 0 7%;

    border-radius: 7px;
}
section.introduction .box h1, section.introduction h1 > span.destaque{
    position: relative;
    font-family: 'Montserrat', sans-serif;;
    color: var(--white);
    font-size: 4.2rem;
    font-weight: 900;
}
section.introduction .box h1::before{
    content: "// BRM Group";
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    top: -2rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--second-light-green);
}
section.introduction .box p{
    color: var(--lightgray);
    font-size: 1.5rem;
    margin-top: 1.5rem;
    line-height: 2rem;
    width: 80%;
}
section.introduction .box h1 > span.destaque{
    color: var(--second-light-green);
    font-size: 4.7rem;
}
section.introduction .box span.tag{
    font-size: 1rem;
    font-weight: 700;
    border-radius: .5rem;
    border: 1px solid var(--white);

    color: var(--white);
    padding: .3rem;
}
section.introduction .box span.tag:hover{
    color: var(--second-light-green);
    border: 1px solid var(--second-light-green);
}
section.introduction .box .tag-container{
    position: absolute;
    top: -1.7rem;
    left: 12rem;
}



/* MEDIA CONTAINER */
.media-container{
    position: relative;
    overflow: hidden;
    
    display: flex;
    justify-content: stretch;
    align-items: center;

    height: 100vh;
    min-height: var(--min-height);
}
.media-container::before{
    content: "";
    background: #133141c5;
    position: absolute;
    z-index: 15;
    top: 0; left: 0; bottom: 0; right: 0;
}
.media-container video{
    width: 100%;
}








section.introduction .btn{
    display: inline-block;
    color: var(--prime-color);
    background-color: var(--second-light-green);

    font-size: 1.5rem;

    padding: 1rem;
    margin: 2rem 0 0;
    border: 3px solid transparent;
    border-radius: 1rem;
}
section.introduction .btn:hover{
    color: var(--second-light-green);
    background-color: transparent;
    border: 3px solid var(--second-light-green);
}









/* ABOUT CONTAINER */
.about-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    background-color: var(--prime-color);
    color: var(--white);
    padding: 4rem 7%;
}

.about-container article.box{
    position: relative;
    margin: 1rem 2.5rem;
    padding: 2.5rem;
    border: 1px solid var(--second-blue);
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px #00c8ff3c;
}
.about-container article.box:hover{
    transform: scale(1.07);
    box-shadow: 0px 0px 20px 3px #00c8ff3c;
}
.about-container article.box h2.title{
    position: relative;
    font-size: 2rem;
    padding: .5rem;
}
.about-container article.box p.paragraph{
    color: var(--lightgray);
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 300;
    padding: 1rem .5rem 1rem;
}

.about-container article.box:nth-of-type(1) h2.title::before{
    content: "// BRM Group";
    position: absolute;
    top: -1.2rem;
    font-size: 1rem;
    color: var(--lightgreen);
}
.about-container article.box:nth-of-type(2) h2.title::before{
    content: "// A Empresa";
    position: absolute;
    top: -1.2rem;
    font-size: 1rem;
    color: var(--lightgreen);
}
.about-container article.box .icon{
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 70px;
}




/* SERVICES CONTAINER */
.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: var(--dark-blue);
    color: var(--white);

    padding: 4rem 7%;
}
.services-container > h2.title{
    /*APPLIES SPAN COLUMN TO GRID LAYOUT*/
    grid-column: 1/-1;
    position: relative;
    padding: 1.5rem;
    margin: auto;

    font-size: 3.5rem;
    text-align: left;
    padding-top: .5rem;
    margin-bottom: 1.5rem;
}
/* SOME CSS TAGS */
.services-container .tag-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: .3rem;
    color: var(--white);
}
.services-container .tag{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;

    border: 1px solid var(--white);
    border-radius: 5px;
    padding: .2rem .3rem;
    color: var(--white);
    font-size: .9rem;
}
.services-container .tag:hover{
    border: 1px solid var(--lightgreen);
    color: var(--lightgreen);
}

.services-container article.box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: relative;
    overflow: hidden;

    padding: 1rem 1.5rem 2rem;
    margin: 2rem 1rem;

    border: 1px solid var(--second-blue);
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px #00c8ff3c;

    min-height: 350px;
}
.services-container article.box:hover{
    transform: scale(1.07);
    box-shadow: 0px 0px 20px 3px #00c8ff3c;
}
.services-container article.box h3.title{
    font-size: 1.5em;
    color: var(--lightgreen);
    margin-bottom: 1rem;
}
.services-container article.box p.paragraph{
    line-height: 1.5rem;
    font-weight: 400;
}


.services-container article.box:hover{
    background-color: var(--blue);
}

.services-container article.box .icon{
    margin-top: 1rem;
    height: 80px;
}







/* COMPANY CONTAINER */
.company-container{
    display: flex;
    flex-direction: column;

    padding: 4rem 7%;

    background-color: var(--lightgray);
}
.company-container h2.title{
    font-size: 2.5rem;
    text-align: center;
    color: var(--blue);
}
.company-container article.box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem 7%;
    margin-top: 2rem;
    margin: auto;

    width: 80%;
}
.company-container article.box p.paragraph{
    color: var(--blue);
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding-left: 2rem;
}
.company-container article.box .know-more{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--prime-color);

    padding: 1rem;
    margin: 2rem auto 0;
    border: 3px solid transparent;
    border-radius: 8px;
}
.company-container article.box .know-more:hover{
    background-color: var(--blue);
}
.company-container article.box img{
    position: absolute;
    left: -8rem;
    top: 35%;
    transform: translateY(-50%);

    width: 150px;
}



/* CONTACT FORM CSS */
.contact-container{
    display: flex;
    justify-content: center;
    padding: 4rem 7%;
    background-color: var(--dark-blue);
    color: var(--white);
}
.contact-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--prime-color);
    border: 1px solid var(--lightgreen);

    min-width: 350px;
    max-width: 500px;

    padding: 2.5rem 3.5rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 20px 0px #83ffdc36;
}
.contact-container form h2.title{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

/* TAGS INSIDE H2*/
.contact-container form h2 .tag-container{
    font-size: .8rem;
    margin-bottom: .7rem;
}
.contact-container form h2 .tag{
    padding: .5rem;
    border: 1px solid white;
    border-radius: 7px;
}
.contact-container form h2 .tag:hover{
    border: 1px solid var(--lightgreen);
    color: var(--lightgreen);
}

/* FORM / INPUTS CSS */
.contact-container form input, .contact-container form textarea{
    font-size: 1rem;
    margin: .7rem 0;
    padding: 1rem;
    outline: 2px solid transparent;
    border: none;
    border-radius: 8px;
    width: 100%;
}
.contact-container form input:focus, .contact-container form textarea:focus{
    outline: 2px solid var(--second-blue);
}
.contact-container form textarea{
    resize: none;
}
.contact-container form button{
    cursor: pointer;
    border: none;
    background-color: var(--lightgreen);
    color: var(--prime-color);
    font-size: 1.2rem;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
}
.contact-container form button:hover{
    background-color: var(--second-light-green);
}




/* FOOTER CSS */
footer.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.5rem;

    padding: 5rem 7%;
    background-color: var(--prime-color);

    font-size: 1.2rem;
    color: var(--white);
}
footer.footer-container .contact-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
footer.footer-container .box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
footer.footer-container .box .icon{
    color: var(--lightgreen);
}
footer.footer-container a{
    color: var(--white);
}
footer.footer-container a:hover{
    color: var(--lightgreen);
}
footer.footer-container .dev-info{
    margin-top: 1rem;
}
footer.footer-container .dev-info a{
    color: var(--second-light-green);
}
footer.footer-container .dev-info .icon{
    display: none;
}





/* MEDIA QUERIES */
@media screen and (max-width: 1350px) {
    section.introduction .box{
        width: 70%;
    }
}
@media screen and (max-width: 1300px) {
    .about-container{
        padding: 4rem 3%;
    }
}
@media screen and (max-width: 1250px) {
    .media-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .media-container video{
        height: 100%;
        width: auto;
    }
}
@media screen and (max-width: 1200px) {
    .about-container article.box{
        padding: 2.5rem 1rem;
        margin: 1rem;
    }
    section.introduction .box h1, section.introduction .box h1 > span.destaque{
        font-size: 3rem;
    }
}
@media screen and (max-width: 1100px){
    .services-container{
        padding: 4rem 3%;
    }

    .company-container article.box img{
        display: none;
    }
    .company-container article.box{
        width: auto;
    }
}
@media screen and (max-width: 900px){
    section.introduction .box p{
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
}
@media screen and (max-width: 800px){
    section.introduction .box{
        width: 80%;
    }

    section.introduction .box h1, section.introduction .box h1 > span.destaque{
        font-size: 2.5rem;
    }

    section.introduction .box .tag-container{
        position: absolute;
        top: -1.7rem;
        left: 10rem;
    }    

    .services-container h2.title{
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 600px){
    section.introduction .box h1::before{
        content: "";
    }
    section.introduction .box .tag-container{
        position: absolute;
        top: -1.7rem;
        left: 0rem;
    }

    /* ICON INSIDE ABOUT SECTION */
    .about-container article.box .icon{
        display: none;
    }

    /* COMPANY CONTAINER PADDING */
    section.company-container{
        padding: 4rem 3%;
    }
    .company-container article.box{
        padding: 2rem 0;
    }
}
@media screen and (max-width: 560px) {
    .about-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .about-container article.box p.paragraph{
        font-size: 1rem;
        line-height: 1.7rem;
    }

    #scroll-down{
        bottom: .3rem;
        height: 45px;
        width: 45px;
    }
}

/* INTRODUCTION RESPONSIVE */

@media screen and (max-width: 500px){
    section.introduction .box{
        width: 90%;
    }
    section.introduction .box span.tag{
        font-size: .8rem;
    }

    .services-container > h2.title{
        font-size: 1.6rem;
        line-height: 2.5rem;
    }
    .services-container .tag-container{
        margin: 0; padding: 0;
    }
    .services-container .tag{
        border: 1px solid var(--white);
        border-radius: 5px;
        padding: .2rem .3rem;
        color: var(--white);
        font-size: .9rem;
    }

    .company-container article.box p.paragraph{
        font-size: 1rem;
        line-height: 1.7rem;
    }


    /* FORM RESPONSIVE CSS */
    .contact-container form h2.title{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .contact-container form{    
        padding: 2.5rem;
    }
}
@media screen and (max-width: 450px){
    section.introduction .box{
        width: 100%;
    }

    .login{
        font-size: .8rem;
        font-weight: bold;
        padding: .5rem;
        border-radius: 7px;
        border: 2px solid transparent;
    }

    .contact-container form{    
        padding: 2.5rem 1.5rem;
    }
}



/* INTRODUCTION RESPONSIVE */
@media screen and (max-height: 680px){
    section.introduction .box h1, section.introduction .box h1 > span.destaque{
        font-size: 2.5rem;
    }
}

@media screen and (max-height: 630px){
    section.introduction .box{
        width: auto;
    }
    section.introduction .box h1, section.introduction .box h1 > span.destaque{
        font-size: 1.8rem;
    }
    section.introduction .box p{
        font-size: .9rem;
        margin-top: 1rem;
    }

    section.introduction .btn{
        display: inline-block;
        color: var(--prime-color);
        background-color: var(--second-light-green);
    
        font-size: 1rem;
    
        padding: 1rem;
        margin: 1rem 0 0;
    }
}




/* NAV BAR RESPONSIVE */
@media screen and (max-width: 1000px) {
    header{
        padding: .3rem 7%;
    }
    header .mobile-btn{
        cursor: pointer;
        display: block;

        background: transparent;
        font-size: 1.5rem;
        color: var(--lightgreen);
        border: none;
    }
    header .mobile-btn:hover{
        color: var(--second-light-green);
    }

    header .box{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .navbar{
        display: none;
    }

    .navbar.mobile .close-btn{
        position: absolute;
        top: 0; left: 1rem;
        z-index: 10;
        cursor: pointer;

        display: block;
        background: transparent;
        color: var(--lightgreen);
        border: none;
        font-size: 3.5rem;
    }
    .navbar.mobile .close-btn:hover{
        color: var(--second-light-green);
    }

    .navbar.mobile{
        position: fixed;
        top: 0; bottom: 0; right: 0;
        background-color: #111b2e;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        gap: 1.5rem;

        padding: 8rem 2.5rem 0;
    }
}





/* LOGO CSS */
@media screen and (max-width: 650px) {
    header{
        padding: .5rem 4%;
    }
    header .logo-container img{
        height: 50px;
    }
}
@media screen and (max-width: 450px) {
    header .logo-container img{
        height: 45px;
    }
}







/* FOOTER RESPONSIVE */
@media screen and (max-width: 700px) {
    footer.footer-container{
        font-size: 1rem;
        padding: 5rem 3%;
    }
}
@media screen and (max-width: 500px){
    footer.footer-container{
        font-size: 1rem;
        padding: 5rem 0;
        text-align: center;
        line-height: 1.7rem;
    }

    footer.footer-container .block{
        display: block;
    }
}