@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@400;700&family=Roboto:wght@100;300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');

:root{
    --prime-color: #001C3B;
    --dark-blue: #0a2646;
    --lightgreen: #83ffdc;
    --second-light-green: #46ff90;
    --blue: #005076;
    --second-blue: #0186B3;
    --third-blue: #266CAA;
    --color1: #009637;
    --color2: #3CC86F;
    --color3: #4987C7;
    --white: #FFFFFF;
    --lightgray: #e3e3e3;
}


*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: .3s linear;
    box-sizing: border-box;
}


body{
    position: relative;
}

/* HEADER */
header{
    position: absolute;
    top: 0; left: 0; right: 0;

    z-index: 1001;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #001b3b8f, #00517693);
    padding: 0 7%;
}
header .logo-container img{
    display: flex;
    height: 65px;
}




span.destaque{
    color: var(--lightgreen);
}
p.paragraph span.destaque{
    font-weight: 700;
}



/* NAVBAR */
.navbar{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 70px;
    gap: 1rem;
}
.navbar a{
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 1.3rem;
    border-bottom: 3px solid transparent;
}
.navbar a:hover{
    color: var(--second-light-green);
    border-bottom: 3px solid var(--second-light-green);
}


.login{
    color: var(--prime-color);
    background: var(--second-light-green);
    padding: .5rem;
    border-radius: 7px;
    border: 2px solid transparent;
}
.login:hover{
    border: 2px solid var(--lightgreen);
    background: transparent;
    color: var(--lightgreen);
}





/* MAIN CONTAINER */
/*CSS HERE*/







/* INTRODUCTION SECTION */

section.introduction{
    position: relative;
}
section.introduction .box{
    position: absolute;
    top: 55%;
    z-index: 1000;

    transform: translateY(-50%);
    width: 60%;

    margin: 0 7%;

    border-radius: 7px;
}
section.introduction .box h1, section.introduction h1 > span.destaque{
    position: relative;
    font-family: 'Montserrat', sans-serif;;
    color: var(--white);
    font-size: 4.2rem;
    font-weight: 900;
}
section.introduction .box h1::before{
    content: "// BRM Group";
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    top: -2rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--second-light-green);
}
section.introduction .box p{
    color: var(--lightgray);
    font-size: 1.5rem;
    margin-top: 1.5rem;
    line-height: 2.2rem;
    width: 80%;
}
section.introduction .box h1 > span.destaque{
    color: var(--second-light-green);
    font-size: 4.7rem;
}
section.introduction .box span.tag{
    font-size: 1rem;
    font-weight: 700;
    border-radius: .5rem;
    border: 1px solid var(--white);

    color: var(--white);
    padding: .3rem;
}
section.introduction .box span.tag:hover{
    color: var(--second-light-green);
    border: 1px solid var(--second-light-green);
}
section.introduction .box .tag-container{
    position: absolute;
    top: -1.7rem;
    left: 12rem;
}



/* MEDIA CONTAINER */
.media-container{
    position: relative;
    overflow: hidden;
    
    display: flex;
    justify-content: stretch;
    align-items: center;

    height: 100vh;
}
.media-container::before{
    content: "";
    background: #133141c5;
    position: absolute;
    z-index: 15;
    top: 0; left: 0; bottom: 0; right: 0;
}
.media-container video{
    width: 100%;
}








section.introduction .btn{
    display: inline-block;
    color: var(--prime-color);
    background-color: var(--second-light-green);

    font-size: 1.5rem;

    padding: 1rem;
    margin: 2rem 0 0;
    border: 3px solid transparent;
    border-radius: 1rem;
}
section.introduction .btn:hover{
    color: var(--second-light-green);
    background-color: transparent;
    border: 3px solid var(--second-light-green);
}









/* ABOUT CONTAINER */
.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--prime-color);
    color: var(--white);
    padding: 4rem 7%;
}

.about-container article.box{
    position: relative;
    margin: 1rem 2.5rem;
    padding: 2.5rem;
    border: 1px solid var(--second-blue);
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px #00c8ff3c;
}
.about-container article.box:hover{
    transform: scale(1.07);
    box-shadow: 0px 0px 20px 3px #00c8ff3c;
}
.about-container article.box h2.title{
    position: relative;
    font-size: 2rem;
    padding: .5rem;
}
.about-container article.box p.paragraph{
    color: var(--lightgray);
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 300;
    padding: 1rem .5rem 1rem;
}

.about-container article.box:nth-of-type(1) h2.title::before{
    content: "// BRM Group";
    position: absolute;
    top: -1.2rem;
    font-size: 1rem;
    color: var(--lightgreen);
}
.about-container article.box:nth-of-type(2) h2.title::before{
    content: "// A Empresa";
    position: absolute;
    top: -1.2rem;
    font-size: 1rem;
    color: var(--lightgreen);
}
.about-container article.box .icon{
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 70px;
}




/* SERVICES CONTAINER */
.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    background-color: var(--dark-blue);
    color: var(--white);

    padding: 4rem 7%;
}
.services-container .title-container{
    /*APPLIES SPAN COLUMN TO GRID LAYOUT*/
    grid-column: 1/-1;
    position: relative;
    padding: 1.5rem;
    width: 70%;
    margin: auto;
}
.services-container .title-container > h2.title{
    font-size: 3.3rem;
    text-align: center;
    padding-top: .5rem;
}
.services-container .title-container > h2.title::before{
    position: absolute;
    top: 0rem;
    content: "// Nossos Serviços";
    font-size: 1rem;
    color: var(--lightgreen);
}
/* SOME CSS TAGS */
.services-container .tag-container{
    position: absolute;
    top: 0;
    left: 18rem;
    color: var(--white);
}
.services-container .tag{
    border: 1px solid var(--white);
    border-radius: 5px;
    padding: .2rem .3rem;
    color: var(--white);
}


.services-container article.box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: relative;
    overflow: hidden;

    padding: 1rem 1.5rem 2rem;
    margin: 2rem 1rem;

    border: 1px solid var(--second-blue);
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px #00c8ff3c;

    min-height: 350px;
}
.services-container article.box:hover{
    transform: scale(1.07);
    box-shadow: 0px 0px 20px 3px #00c8ff3c;
}
.services-container article.box h3.title{
    font-size: 1.5em;
    color: var(--lightgreen);
    margin-bottom: 1rem;
}
.services-container article.box p.paragraph{
    line-height: 1.5rem;
    font-weight: 400;
}


/*
.services-container article.box .picture-container{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: .2s linear;
}

.services-container article.box .picture-container::before{
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 20;
    background: #000000d0;
}
.services-container article.box:hover .picture-container{
    transform: translateY(0);
}
.services-container article.box img.picture{
    transform: scale(1);
    display: flex;
    height: 100%;
}
*/


.services-container article.box:hover{
    background-color: var(--blue);
}

.services-container article.box .icon{
    margin-top: 1rem;
    height: 80px;
}







/* COMPANY CONTAINER */
.company-container{
    display: flex;
    flex-direction: column;

    padding: 4rem 7%;

    background-color: var(--lightgray);
}
.company-container h2.title{
    font-size: 2.5rem;
    text-align: center;
    color: var(--blue);
}
.company-container article.box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem 7%;
    margin-top: 2rem;
    margin: auto;

    width: 80%;
}
.company-container article.box p.paragraph{
    color: var(--blue);
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding-left: 2rem;
}
.company-container article.box .know-more{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--prime-color);

    padding: 1rem;
    margin: 2rem auto 0;
    border: 3px solid transparent;
    border-radius: 8px;
}
.company-container article.box .know-more:hover{
    background-color: var(--blue);
}
.company-container article.box img{
    position: absolute;
    left: -5rem;
    top: 35%;
    transform: translateY(-50%);

    width: 150px;
}












/* FOOTER CSS */
footer.footer-container *{
}
footer.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.5rem;

    padding: 5rem 7%;
    background-color: var(--prime-color);

    font-size: 1.2rem;
    color: var(--white);
}
footer.footer-container .contact-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
footer.footer-container .box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
footer.footer-container .box .icon{
    color: var(--lightgreen);
}
footer.footer-container a{
    color: var(--white);
}
footer.footer-container a:hover{
    color: var(--lightgreen);
}







/* MEDIA QUERIES */
@media screen and (max-width: 1250px) {
    .media-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .media-container video{
        height: 100%;
        width: auto;
    }
}